 <ul class="account__nav js-accountNav">
  <button class="account-nav__toggle js-accountNavToogle">
    <span class="account-nav__arrow"></span>
    <span class="visually-hidden">Toogle navigation</span>
  </button>
  <li><a href="/account/addresses">My Account</a></li>
  <li><a href="/account">My Orders</a></li>
  <li><a data-no-history="true" href="/account/logout">Logout</a></li>
 </ul>
