<div class="product-hero">
  <div class="product-hero__image">
    {% render 'image-half', img: 'temp/discovery.jpg' %}
  </div>
  <div class="product-hero__content">
    <div class="product-hero__content-inner">
      <div class="product-hero__title">
        DISCOVERY KIT:<br/>
        COLLECTION I
      </div>
      <div class="product-hero__copy">
        Try Collection I <em>(Connection to Self)</em> at home. The collection was inspired by horses and personal
        journeys: connecting me to others, nature and the world through unspoken and invisible languages.
      </div>
      <div class="product-hero__details">
        Kit includes: Rotano, Karat EG, Canaan,
        Macanudo and Durban Jane.
        <br/>
        Eau de Parfum: 5 × 60 ml / 2 fl.oz.
        <div class="product-hero__price">
          $20.00 USD
        </div>
      </div>
      <button class="button">
        Add to cart
      </button>
    </div>
  </div>
</div>
