{%- assign title = product.selected_or_first_available_variant.title -%}

<div class="add-to-cart__variant js-variantSelector">
  <div class="select {% if product.variants.size > 1 %} js-select {% endif %}">
    <button class="select__value">
      <span class="visually-hidden">Select option</span>
      {{ title }}
    </button>
    <ul class="select__options js-selectOpts">
      {% for variant in product.variants %}
        {% unless variant.title == title %}
          <li class="select__option">
            <a href="{{ variant.url }}" class="js-variantOption" data-id="{{ variant.title }}">{{ variant.title }}</a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
    {% if product.variants.size > 1 %}
      <svg class="icon-select-arrow" viewBox="0 0 8 6">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-select-arrow"></use>
      </svg>
    {% endif %}
  </div>
</div>
