<div class="utility side-nav js-scroll" data-view="about" data-callback="sideNav">
  {% section 'about-nav' %}
  {% section 'about' %}
  {% section 'about-collections' %}
  {% section 'about-people' %}
  {% section 'about-as-seen-in' %}
</div>
