<div class="utility side-nav js-scroll" data-view="utility" data-callback="utility">
  {% section 'privacy-nav' %}
  {% section 'terms-content' %}
  {% section 'privacy-content' %}
  {% section 'accessibility-content' %}
</div>