<div class="utility utility--standalone" data-view="page">
  <div class="utility__content">
    <div class="utility-content">
      <div class="utility-content__wrapper">
        <h1 class="utility-content__title utility-content__title--no-dots">
          {{ page.title }}
        </h1>

        <div class="utility__text">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>
