<div class="utility side-nav js-scroll" data-view="utility" data-callback="sideNav">
  {% section 'utility-nav' %}
  {% section 'utility-contact' %}
  {% section 'utility-faq' %}
  {% section 'utility-content' %}
</div>