<div id="stockist_page">
	{% section 'heading' %}
	{% section 'heading-north-america' %}
  {% section 'california-image-with-text' %}
  	{% section 'colorado-image-with-text' %}
	{% section 'connecticut-image-with-text' %}
	{% section 'florida-image-with-text' %}
	{% section 'georgia-image-with-text' %}
	{% section 'illinois-image-with-text' %}
	{% section 'new-york-image-with-text' %}
	{% section 'north-carolina-image-with-text' %}
	{% section 'pennsylvania-image-with-text' %}
	{% section 'south-carolina-image-with-text' %}
	{% section 'texas-image-with-text' %}
	{% section 'tenesse-image-with-text' %}
	{% section 'canada-heading' %}
	<div class="text-wrapper">
		<p>Coming Soon</p>
	</div>
	{% section 'europe-heading' %}
	<div class="text-wrapper">
		<p>Coming Soon</p>
	</div>
	{% section 'online-retailers-heading' %}
	{% section 'rich-text-retailers' %}
</div>

<style>
	#stockist_page {
    margin-top: 0;
    padding: 80px 1em;
    background: #F3F1ED;
	}
	.text-wrapper p {
    font-family: 'GT America', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.6;
    display: block;
    font-style: normal;
		-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #626950;
	}
	.content_container > h2 {
    font-family: 'GT America', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.6;
    display: block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #626950;
}


	@media(min-width:989px){
		#stockist_page {
			padding: 80px 5em;
		}
	}
</style>